extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='text' placeholder='Email' name='email' required='true' value=(undefined===users ? '' : users.email) )
      label(for='name') Name:
      input#name.form-control(type='text' placeholder='Name' name='name' required='true' value=(undefined===users ? '' : users.name))
    div.form-group
      label(for='gender') Gender:
      select#gender.form-control(type='select', placeholder='Select Gender' name='gender' required='true' )
        each gender, i in users.gender
          option(value="i") #{gender}
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='text' placeholder='Password' name='password' value=(undefined===users ? '' : users.password) )
    div.form-group
      label(for='introduce') Introduce:
      input#introduce.form-control(type='text' placeholder='Introduce' name='introduce' value=(undefined===users ? '' : users.introduce) )
    button.btn.btn-primary(type='submit') Sign Up
  if errors 
    ul
      for error in errors
        li!= error.msg