extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='introduce') Introduce:
      input#introduce.form-control(type='text', placeholder='introduce' name='introduce' value=(undefined===user ? '' : user.introduce) required='true') 
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg